:root {
  --link-font: "Montserrat", sans-serif;
  --body-font: "Roboto", sans-serif;
  --secondary-color: #272142;
}
body {
  font-family: var(--body-font);
}

h1 {
  font-weight: 700;
  font-size: 72px;
}
h2 {
  font-weight: 700;
  font-size: 24px;
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
nav li {
  display: inline;
  margin-left: 10px;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav a:hover {
  cursor: pointer;
  color: purple;
  transition: all 200ms ease in ease-in-out;
}
.hero {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  text-align: center;
  padding: 60px 80px;
  background-image: url("/images/tems.jpg");
  background-size: cover;
  background-size: contain;
  color: white;
}

.btn-domain {
  font-family: var(--link-font);
  font-size: 14px;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 15px 25px;
  background-color: white;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}

.btn-domain:hover {
  color: white;
  background-color: var(--secondary-color);
}
.content-container {
  margin: 30px 0;
}
.ice-t {
  background-color: rgb(174, 205, 188);
  padding: 15px 20px 55px;
  border-radius: 8px;
}
.free-mind {
  background-color: rgb(92, 65, 65);
  padding: 15px 20px 25px;
  border-radius: 8px;
}
.higher {
  background-color: rgb(227, 182, 182);
  padding: 15px 20px 25px;
  border-radius: 8px;
}
.img-fluid {
  width: 100%;
  height: 80%;
}


@media (max-width: 900px) {
  #audio {
    width: 80%;
  }
  .free-mind,
  .higher,
  .ice-t {
    margin-top: 30px;
  }
}
